@import "../theme/colors";

$small: 588px;
$medium: 768px;
$large: 1200px;

$colors: (
  "white": $white,
  "black": $black,
  "yellow": $yellow,
  "grey": $grey,
  "grey100": $grey100,
  "grey200": $grey200,
  "light": $light,
  "blue": $blue,
  "transparent": transparent,
);
