@import "../../../styles/abstracts";

.breadcrumb {
  display: flex;
  padding: 0;
  margin-bottom: 16px;
}

.card {
  @include card;

  .wrapper {
    display: flex;
    flex-direction: row;
    padding: 16px;

    @media (max-width: $medium) {
      flex-direction: column;
    }

    .wrapperImgInfo {
      display: flex;
      flex-direction: row;
      width: 70%;
      gap: 16px;
      cursor: pointer;

      @media (max-width: $medium) {
        flex-direction: column;
        width: 100%;
        align-items: center;
      }

      .wrapperInformation {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 10px 0;

        .wrapperPrice {
          display: flex;
          flex-direction: row;
          gap: 8px;
        }
      }
    }

    .wrapperLocation {
      display: flex;
      width: 30%;
      padding-left: 100px;

      @media (max-width: $medium) {
        width: 100%;
        padding-left: 0;
      }
    }
  }
}
